#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 30px  auto;
}

.grid-cell {
  flex-basis: calc(100%/16);
  height: 0;
  padding-bottom: calc(100%/16);
  background-color: lightgray;
  border: 1px solid gray;
  box-sizing: border-box;
}

.hovered{
  background-color: lightblue;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}